/* seletor {
    propriedade: valor;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Raleway', 'sans-serif';
    margin: 0;
}

.banner {
    background: url(../img/banner-bg.png) center no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    padding-top: 16rem;
    color: white;
}

.banner_titulo{
    font-size: 3rem;
    margin: 0;
    /*text-align: center;*/
}

.banner_descricao{
    font-size: 1.5rem;
    margin: 1rem;

}

.botao{
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-width: 0;
}

.botao-branco{
    background-color: #7E459B;
    background-color: white;
}

.botao-roxo{
    background-color: #7E459B;
    color: white;
    margin-top: 2rem;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem 5rem;
}

.sobre-titulo{
    text-align: center;
    margin-bottom: 5rem;
}

.sobre_descricao, .sobre_habilidades{
    width: 40%;
    display: inline-block;
}

.sobre_habilidades{
    vertical-align: top;
    margin-left: 10rem;
}

.sobre_descricao_titulo, .sobre_habilidades_titulo{
    margin-bottom: 2rem;
}

.footer{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}

.redes-sociais-link{
    display: inline-block;
    background-color:#7E459B;
    width: 20%;
    height: 180px;
    padding: 2rem 0;
    margin: 0 1rem;
    color: white;
}

.redes-sociais_img{
    height: 80px;
}